<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">COMPRAS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
   <nav class="flex-column">
    <RadzenPanelMenu Style="width: 100%; font-family: 'Segoe UI', sans-serif;">
            <RadzenPanelMenuItem Text="Inicio" Path="/" Icon="other_houses" Style="padding: 8px 16px; border-left: 3px  transparent;" />
            <RadzenPanelMenuItem Text="Articulos" Path="articulos" Icon="article" Style="padding: 8px 16px; border-left: 3px  transparent;" />
            <RadzenPanelMenuItem Text="Categorias" Path="categorias" Icon="category" Style="padding: 8px 16px; border-left: 3px  transparent;" />
    </RadzenPanelMenu>
</nav>
</div>
